[Desktop Entry]
Name=幻 Fantasma
X-KDE-PluginInfo-Author=Xio
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=fantasma
X-KDE-PluginInfo-Version=1.0.0
